<div id="members" class="tab-block">
    <div class="block">
        <div class="block-header">
            <img src="{{ asset('img/icons/medal.png') }}" alt="medal"> Liste des Membres
        </div>
        <div class="block-content">
            L'alliance <span class='font-weight-bold alliance-{{ alliance.color}}'>[{{ alliance.abbreviation }}]</span> possède <b>{{ alliance.getAllianceMembers|length }}</b> membres.

            <table>
                <thead>
                    <tr>
                        <th><img src="{{ asset('img/icons/lantern.png') }}" alt="lantern"> Joueur</th>
                        <th><img src="{{ asset('img/icons/gun.png') }}" alt="gun"> Puissance</th>
                        <th><img src="{{ asset('img/icons/helm.png') }}" alt="helm"> Navires</th>
                        <th><img src="{{ asset('img/icons/coin.png') }}" alt="coin"> Fortune</th>
                    </tr>
                </thead>

                <tbody>
                {% set i = 0 %}
                {% for link in alliance.getAllianceMembers %}
                    <tr class="{% if i % 2 == 0 %}tr-1{% else %}tr-2{% endif %}">
                        <td>{{ link.user.username }}</td>
                        <td>{{ link.user.getTotalPower|number_format(0, '.', ' ') }}</td>
                        <td>{{ link.user.ships|length - 1 }}</td>
                        <td>{{ link.user.gold|number_format(0, '.', ' ') }}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>