<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Anton|East+Sea+Dokdo|Pacifico|Acme" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ asset('img/icons/favicon.png') }}" />

        <title>{% block title %}Pirate des trois océans{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/template.css') }}">
        {% endblock %}

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    </head>

    <body>
        <audio id="pirate-music"
               controls loop
               src="{{ asset('sound/pirates-of-the-caribbean-soundtrack-01-fog-bound.mp3') }}" class="d-none">
            Your browser does not support the
            <code>audio</code> element.
        </audio>

        <div class="audio-div">
            <div class="float-right pr-2 pt-2 text-white">
                <img id="music-btn" class="mr-1" src="{{ asset('img/music.png') }}" alt="Play"> Pirate des Caraïbes - Fog Bound
            </div>
        </div>
        <div class="conteneur">
            <div class="banner">
            </div>

            <div class="menu">
                <div class="row m-0">

                    <a href="{{ path('app_home') }}">A<span class="mini-lien">cc</span>ueil</a> <a href="{{ path('app_ships') }}">Navires</a> <a href="{{ path('app_crew_show') }}">Equipa<span class="mini-lien">g</span>e</a>
                    <a href="{{ path('app_war') }}">Guerre</a> <a href="{{ path('app_trade') }}"><span class="mini-lien">C</span>ommerce</a> <a href="{{ path('app_alliance') }}">Allian<span class="mini-lien">c</span>e</a>
                    <a href="{{ path('app_tavern') }}">Taverne</a> <a href="{{ path('app_messaging') }}">Messa<span class="mini-lien">g</span>erie</a> <a href="{{ path('app_ranking') }}"><span class="mini-lien">C</span>lassement</a> <a href="{{ path('app_logout') }}" class="logout">X</a>
                </div>
            </div>


            <div class="main">
                {% block body %}{% endblock %}
            </div>

            <div class="menu">
                <div class="row m-0">
                    <div class="col-6 text-warning">Tous les droits appartiennent à WebK</div>
                    <div class="col-6"><div class="float-right"><a href="{{ path('app_rules') }}">Rè<span class="mini-lien">g</span>les du Jeu</a> <a href="{{ path('app_faq') }}">FAQ</a></div></div>
                </div>
            </div>
        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
                let music = false;

                let playMusic = () => {
                    $('#pirate-music')[0].play();
                    $('#music-btn').attr("src", "{{ asset('img/pause.png') }}");
                    music = true;
                };

                let stopMusic = () => {
                    $('#pirate-music')[0].pause();
                    $('#music-btn').attr("src", "{{ asset('img/music.png') }}");
                    music = false;
                };

                $('#music-btn').on('click', function () {
                    (music == false) ? playMusic() : stopMusic();
                });
            });
        </script>
        <script src="{{ asset('js/sweetalert2/dist/sweetalert2.all.js') }}"></script>
    </body>
</html>