{% extends 'authenticated/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tavern.css') }}">
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {% if label == 'success' %}<span class="fas fa-check"></span>{% elseif label == 'danger' %}<span class="fas fa-times"></span>{% endif %} {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="card no-min-height">
        <div class="card-header">
            Taverne
        </div>
        <div class="card-back-msg p-0">

            <div id="tavern" class="tavern">
                {% set i = 1 %}
                {% for message in messages %}
                    <div class="message message-{{ i }} d-flex">
                        <div class="left-part">
                            <p class="author m-0">{% if message.owner.isActiveNow %}<img src="{{ asset('img/icons/online.png') }}" alt="etat" class="online-state">{% else %}<img src="{{ asset('img/icons/offline.png') }}" alt="etat" class="online-state">{% endif %} {{ message.owner.username }}</p>
                            Le {{ message.getMomentDate|date('d/m/') }}{{ message.getMomentDate|date('Y') - 315 }} à {{ message.getMomentDate|date('H') }}h{{ message.getMomentDate|date('i') }}
                        </div>
                        <div class="right-part d-flex">
                            <p class="m-auto">{{ message.message }}</p>
                        </div>
                    </div>
                    {% if i == 1 %}
                        {% set i = 2 %}
                    {% else %}
                        {% set i = 1 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <div class="discord mb-3 mt-3">
            <a href="https://discord.gg/G7vvrhh"><img src="{{ asset('img/icons/discord.png') }}" alt="discord"> Rejoins notre Discord</a>
        </div>
    </div>

    <div class="tavern-send-message d-flex mt-2">
        <input id="tavern-message" type="text" maxlength="68" name="message" autofocus> <button id="send-tavern-message" type="submit" name="send" value="Envoyer">Envoyer</button>
    </div>

    <div class="tavern-rules d-flex mt-2">
        <div class="illustration"></div>
        <div class="rules">
            <h1>Règlement de la Taverne</h1>

            <p class="p-2">
                Et une bouteille de Rhum, Hic !<br>
                Bienvenue à la taverne des Pirates ! C'est le lieu idéal pour rencontrer d'autres écumeurs des mers, se tenir au courant des dernières rumeurs et surtout boire un coup et s'amuser tous ensemble !
            </p>

            <p class="p-2">
                <b>1.</b> Vous êtes priés de vous comporter avec respect, tout en gardant un vocabulaire correct et compréhensible.<br><br>
                <b>2.</b> Il est interdit de faire de la publicité et de poster des liens externes.<br><br>
                <b>3.</b> Veillez à ne jamais divulguer d'informations personnelles.<br><br>

                Et surtout, amusez-vous !
            </p>
        </div>
    </div>

    {% include 'authenticated/script/refresh-tavern.html.twig' %}
    {% include 'authenticated/script/send_tavern_message.html.twig' %}
{% endblock %}
