{% extends 'authenticated/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/war.css') }}">
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {% if label == 'success' %}<span class="fas fa-check"></span>{% elseif label == 'danger' %}<span class="fas fa-times"></span>{% endif %} {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-12">
            <div class="card no-min-height">
                <div class="card-header">
                    Guerre
                </div>
                <div class="card-body card-back1">
                    <div class="row">
                        <div class="top-card-body col-12" style="border-bottom: 0;">
                            <b>Affrontement en mer</b>
                            <div class="float-right mr-4">
                                <form method="post" action="{{ path('app_war') }}">
                                    <select class="input-white" style="width: 150px !important;" id="choice" name="choice">
                                        {% for land in lands %}
                                            <option value="{{ land.id }}" {% if selected is not null and selected == land.id %}selected{% endif %}>{{ land.id }} - {{ land.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" name="search" value="Rechercher">
                                </form>
                                <form method="post" action="{{ path('app_war_action') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <table class="ilshenar-table">
                            <tr style="height: 40px;">
                                <th><img src="{{ asset('img/icons/pa.png') }}" class="logo-middle" alt="pa"> Points d'Action <span class="ml-3 green-text">{{ app.user.pa }}</span></th>
                                <th><img src="{{ asset('img/icons/arsenal.png') }}" class="logo-middle" alt="pa"> <span class="blue-text">Ordres à l'Equipage</span></th>
                                <th><img src="{{ asset('img/icons/gun.png') }}" class="logo-middle" alt="pa"> <span class="red-text">Consignes aux Canonniers</span></th>
                            </tr>
                            <tr>
                                <td rowspan="3" class="war-stats">
                                    <p>
                                        <span class="gold-dark font-weight-bold">Statistiques du Jour</span><br>
                                        Nombre de Batailles <span class="float-right font-weight-bold">{{ stats['today']['battles'] }}</span><br>
                                        Navires Coulés <span class="float-right font-weight-bold">{% if stats['today']['sunk'] %}{{ stats['today']['sunk'] }}{% else %}0{% endif %}</span><br>
                                        Navires Capturés <span class="float-right font-weight-bold">{% if stats['today']['captured'] %}{{ stats['today']['captured'] }}{% else %}0{% endif %}</span>
                                    </p>
                                    <p>
                                        <span class="gold-dark font-weight-bold">Statistiques de la Veille</span><br>
                                        Nombre de Batailles <span class="float-right font-weight-bold">{{ stats['yesterday']['battles'] }}</span><br>
                                        Navires Coulés <span class="float-right font-weight-bold">{% if stats['yesterday']['sunk'] %}{{ stats['yesterday']['sunk'] }}{% else %}0{% endif %}</span><br>
                                        Navires Capturés <span class="float-right font-weight-bold">{% if stats['yesterday']['captured'] %}{{ stats['yesterday']['captured'] }}{% else %}0{% endif %}</span>
                                    </p>
                                </td>
                                <td class="bb2">
                                    <span class="font-weight-bold">
                                      <label class="radio-inline control-label" for="abordage">
                                        <input type="radio" name="orders" value="normal" style="width: 25px;" checked>A l'Abordage !
                                      </label>
                                    </span><br>
                                    <span class="ml-4">Attaque normale</span>
                                </td>
                                <td class="bb2">
                                    <span class="font-weight-bold">
                                      <label class="radio-inline control-label" for="abordage">
                                        <input type="radio" name="instructions" value="destruction" style="width: 25px;" checked>Tir Plein Bois
                                      </label>
                                    </span><br>
                                    <span class="ml-4">Destruction du Navire</span>
                                </td>
                            </tr>

                            <tr>
                                <td class="bb2">
                                    <span class="font-weight-bold">
                                      <label class="radio-inline control-label" for="abordage">
                                        <input type="radio" name="orders" value="abordage" style="width: 25px;">Pas de Quartier !
                                      </label>
                                    </span><br>
                                    <span class="ml-4">Priorité à l'abordage</span>
                                </td>
                                <td class="bb2">
                                    <span class="font-weight-bold">
                                      <label class="radio-inline control-label" for="abordage">
                                        <input type="radio" name="instructions" value="immobilization" style="width: 25px;">Tir à Démâter
                                      </label>
                                    </span><br>
                                    <span class="ml-4">Immobilisation du Navire</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-weight-bold">
                                      <label class="radio-inline control-label" for="abordage">
                                        <input type="radio" name="orders" value="guns" style="width: 25px;">Feu à Volonté !
                                      </label>
                                    </span><br>
                                    <span class="ml-4">Priorité aux Canons</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold">
                                      <label class="radio-inline control-label" for="abordage">
                                        <input type="radio" name="instructions" value="massacre" style="width: 25px;">Tir à Mitraille
                                      </label>
                                    </span><br>
                                    <span class="ml-4">Massacre de l'Equipage</span>
                                </td>
                            </tr>
                        </table>
                        <div class="war-avatar-block">
                            <img src="{{ asset('img/avatars/search_war.jpg') }}" alt="war" class="war-avatar">
                            <div class="text-center font-weight-bold pt-3 alex"><span data-toggle="tooltip" data-placement="bottom" title="Célèbre Pirate du début du 18ème siècle" style="cursor: crosshair;">Alex' Dalzeel</span></div>
                        </div>
                    </div>

                    <div class="top-card-body target-choice col-12">
                        <b>Choix des Cibles [{{ 3 + oponents|length }}]</b>
                    </div>

                    <div class="war-bg-1 p-1">
                        <table class="no-style-table">
                            <tr>
                                <td><span class="green-text font-weight-bold">Pêcheurs</span></td>
                                <td><img src="{{ asset('img/icons/den.png') }}" class="logo-middle" alt="den"> Village de Pêcheurs</td>
                                <td><span class="green-text">{% set sinner = random(2) + 1 %}{{ sinner }}</span> Navires de Pêche à quai</td>
                                <td class="float-right">
                                    <input type="hidden" name="sinner" value="{{ sinner }}">
                                    <label class="radio-inline control-label" for="abordage">
                                        <img src="{{ asset('img/icons/lantern.png') }}" class="logo-middle" alt="lantern" style="margin-top: -10px;"> <input type="radio" name="target" value="sinner" style="width: 22px; margin-top: 13px;">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="war-bg-2 p-1">
                        <table class="no-style-table">
                            <tr>
                                <td><span class="gold-dark font-weight-bold">Marchands</span></td>
                                <td><img src="{{ asset('img/icons/ship.png') }}" class="logo-middle" alt="ship"> Flotte Marchande</td>
                                <td><span class="green-text">{% set trader = random(2) + 1 %}{{ trader }}</span> Navires Marchands au large</td>
                                <td class="float-right">
                                    <input type="hidden" name="trader" value="{{ trader }}">
                                    <label class="radio-inline control-label" for="abordage">
                                        <img src="{{ asset('img/icons/lantern.png') }}" class="logo-middle" alt="lantern" style="margin-top: -10px;"> <input type="radio" name="target" value="trader" style="width: 22px; margin-top: 13px;">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="war-bg-1 p-1">
                        <table class="no-style-table">
                            <tr>
                                <td><span class="red-text font-weight-bold">Marine Royale</span></td>
                                <td><img src="{{ asset('img/icons/ship.png') }}" class="logo-middle" alt="ship"> Flotte de Guerre</td>
                                <td><span class="green-text">{% set warrior = random(2) + 1 %}{{ warrior }}</span> Navires de Guerre au large</td>
                                <td class="float-right">
                                    <input type="hidden" name="warrior" value="{{ warrior }}">
                                    <label class="radio-inline control-label" for="abordage">
                                        <img src="{{ asset('img/icons/lantern.png') }}" class="logo-middle" alt="lantern" style="margin-top: -10px;"> <input type="radio" name="target" value="warrior" style="width: 22px; margin-top: 13px;">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    {% set i = 2 %}
                    {% for oponent in oponents %}
                        <div class="war-bg-{{ i }} p-1">
                            <table class="no-style-table">
                                <tr>
                                    <td>{% if oponent['alliance'] %}<span class="font-weight-bold alliance-{{ oponent['alliance'].color }}">[{{ oponent['alliance'].abbreviation }}]</span>{% endif %} <span class="pirate-text font-weight-bold">{{ oponent['username'] }}</span></td>
                                    <td>
                                        {% if oponent['den'] %}
                                            <img src="{{ asset('img/icons/den.png') }}" class="logo-middle" alt="den"> Repaire Pirate
                                        {% else %}
                                            <img src="{{ asset('img/icons/ship.png') }}" class="logo-middle" alt="ship"> Flotte Pirate
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if oponent['den'] == true %}
                                            {% if oponent['number'] > 1 %}
                                                <span class="green-text">{{ oponent['number'] - 1 }}</span> Navires amarrés à quai
                                            {% else %}
                                                Aucun navire amarré à quai
                                            {% endif %}
                                        {% else %}
                                            <span class="green-text">{{ oponent['number'] }}</span> Navires au large
                                        {% endif %}
                                    </td>
                                    <td class="float-right">
                                        <label class="radio-inline control-label" for="abordage">
                                            <img src="{{ asset('img/icons/lantern.png') }}" class="logo-middle" alt="lantern" style="margin-top: -10px;"> <input type="radio" name="target" value="{{ oponent['id'] }}" style="width: 22px; margin-top: 13px;">
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        {% if i == 1 %}
                            {% set i = 2 %}
                        {% else %}
                            {% set i = 1 %}
                        {% endif %}
                    {% endfor %}

                <div class="war-bg-{{ i }} p-2">
                    <input type="hidden" name="position" value="{% if selected is not null %}{{ selected }}{% else %}{{ lands[0].id }}{% endif %}">
                    Sélectionnez la cible de votre choix et attaquez. <span class="float-right"><input type="submit" name="attack" value="Attaquer" style="margin-top: -5px;"></span>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
