{% extends 'authenticated/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/war_report.css') }}">
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {% if label == 'success' %}<span class="fas fa-check"></span>{% elseif label == 'danger' %}<span class="fas fa-times"></span>{% endif %} {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-12">
            <div class="card no-min-height">
                <div class="card-header">
                    Rapport de Guerre
                </div>
                <div class="card-body card-back1">
                    <table class="war-report-table">
                        <tr>
                            <td>
                                <b>{{ attacker['fleet'][0].owner.username }}</b>
                                <span class="float-right">
                                    {%  if victory %}
                                        <span class="green-text font-weight-bold">VICTOIRE</span>
                                    {% else %}
                                        <span class="red-text font-weight-bold">DEFAITE</span>
                                    {% endif %}
                                </span>
                            </td>
                            <td>
                                <b>{{ defender['name'] }}</b>
                                <span class="float-right">
                                    {%  if victory == false %}
                                        <span class="green-text font-weight-bold">VICTOIRE</span>
                                    {% else %}
                                        <span class="red-text font-weight-bold">DEFAITE</span>
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% for ship in attacker['fleet'] %}
                                    <b>{{ ship.name }}</b>
                                    <span class="float-right">Niveau <b>{{ ship.level }}</b></span><br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for ship in defender['fleet'] %}
                                    <b>{{ ship.name }}</b>
                                    <span class="float-right">Niveau <b>{{ ship.level }}</b></span><br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>

                                {% set max = attacker['fleet']|length %}

                                {% for i in range(0, max - 1) %}
                                    <img src="{{ asset('img/icons/helm.png') }}" class="helm-logo" alt="helm"> <b>{{ attacker['fleet'][i].name }}</b><br>
                                    <div class="text-right">
                                        Etat initial : <b>{{ attacker['save'][i].structure }}/100</b><br>
                                        Etat final : <b>{% if attacker['lost'][i]['structure'] > 0 %}<span class="red-text">{% endif %}{{ attacker['fleet'][i].structure }}{% if attacker['lost'][i]['structure'] > 0 %}</span>{% endif %}/100</b><br>
                                        {% if attacker['lost'][i]['structure'] >= attacker['save'][i].structure %}
                                            <b class="red-text">Navire coulé</b><br>
                                        {% else %}
                                            <b class="green-text">+ {{ attacker['gain_xp'] }} d'Exp</b><br>
                                        {% endif %}
                                        {% if attacker['lost'][i]['seaman'] > 0 %}
                                            <b><span class="red-text">{{ attacker['lost'][i]['seaman'] }}</span> Matelots tués</b><br>
                                        {% endif %}
                                        {% if attacker['lost'][i]['explorer'] > 0 %}
                                            <b><span class="red-text">{{ attacker['lost'][i]['explorer'] }}</span> Explorateurs tués</b><br>
                                        {% endif %}
                                        {% if attacker['lost'][i]['gunner'] > 0 %}
                                            <b><span class="red-text">{{ attacker['lost'][i]['gunner'] }}</span> Canonniers tués</b><br>
                                        {% endif %}
                                        {% if attacker['lost'][i]['cook'] > 0 %}
                                            <b><span class="red-text">{{ attacker['lost'][i]['cook'] }}</span> Cuisiniers tués</b><br>
                                        {% endif %}
                                        {% if attacker['lost'][i]['carpenter'] > 0 %}
                                            <b><span class="red-text">{{ attacker['lost'][i]['carpenter'] }}</span> Charpentiers tués</b><br>
                                        {% endif %}
                                        {% if attacker['lost'][i]['surgeon'] > 0 %}
                                            <b><span class="red-text">{{ attacker['lost'][i]['surgeon'] }}</span> Chirurgiens tués</b><br>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                {% if victory %}
                                    <br><br>
                                    <div class="text-right">
                                        Butin de Guerre<br>
                                        <b class="gold-dark">{{ theft['gold']|number_format(0, '.', ' ') }}</b> Pièces d'Or<br>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {% set max = defender['fleet']|length %}
                                {% for i in range(0, max - 1) %}
                                    <img src="{{ asset('img/icons/helm.png') }}" class="helm-logo" alt="helm"> <b>{{ defender['fleet'][i].name }}</b><br>
                                    <div class="text-right">
                                        Etat initial : <b>{{ defender['save'][i].structure }}/100</b><br>
                                        Etat final : <b>{% if defender['save'][i].structure != defender['fleet'][i].structure %}<span class="red-text">{% endif %}{{ defender['fleet'][i].structure }}{% if defender['save'][i].structure != defender['fleet'][i].structure %}</span>{% endif %}/100</b><br>
                                        {% if i in defender['sunk']|keys %}
                                            <b class="red-text">Navire coulé</b><br>
                                        {% endif %}
                                        {% if 'captured' in defender|keys and i == defender['captured'] %}
                                            <b class="green-text">Navire capturé</b><br>
                                        {% endif %}
                                        {% if defender['fleet'][i].seaman < defender['save'][i].seaman %}
                                            <b><span class="red-text">{{ (defender['save'][i].seaman - defender['fleet'][i].seaman) }}</span> Matelots tués</b><br>
                                        {% endif %}
                                        {% if defender['fleet'][i].gunner < defender['save'][i].gunner %}
                                            <b><span class="red-text">{{ (defender['save'][i].gunner - defender['fleet'][i].gunner) }}</span> Canonniers tués</b><br>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}