<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Devenez Capitaine d'une bande de pirates. Abordages sanglants, combats en mer, braconnages, complots en tout genre, chasses aux trésors et soirées mouvementées à la taverne : voilà ce qui vous attend !"/>
        <meta name="keywords" content="jeu en ligne, jeu pirate, jeu gratuit, jeux, jeu, gestion, gratuit, virtuel, guerre, pirate"/>
        <meta name="dc.keywords" content="jeu en ligne, jeu pirate, jeu gratuit, jeux, jeu, gestion, gratuit, virtuel, guerre, pirate"/>
        <meta name="Robots" content="all"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Anton|East+Sea+Dokdo|Pacifico|Acme" rel="stylesheet">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ asset('img/icons/favicon.png') }}" />

        <title>{% block title %}Pirate des trois océans{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/template.css') }}">
        {% endblock %}

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    </head>

    <body>

        <div class="conteneur">
            <div class="banner">
            </div>

            <div class="menu">
                <div class="row m-0">
                    <div class="col-8 pl-2"><a href="{{ path('app_signup') }}" class="gold">Inscription</a> <a target="_blank" href="https://discord.gg/G7vvrhh">Discord</a></div>
                    <div class="col-4"><div class="float-right"><a href="{{ path('app_login') }}">Index</a> <a href="classement"><span class="mini-lien">C</span>lassement</a></div></div>
                </div>
            </div>

            <div class="main p-5">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>

            <div class="menu">
                <div class="row m-0">
                    <div class="col-6 text-warning">Tous les droits appartiennent à WebK</div>
                    <div class="col-6"><div class="float-right"><a href="{{ path('app_rules') }}">Rè<span class="mini-lien">g</span>les du Jeu</a> <a href="{{ path('app_faq') }}">FAQ</a></div></div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
