<script>
    let total = 0;
    let sell = false;
    let buy = false;
    let items = {
        'gun': {
            'price': 100,
            'color': 'red',
            'name': 'Canon',
            'img': '{{ asset('img/icons/gun.png') }}',
            'quantity': 0
        },
        'arsenal': {
            'price': 100,
            'color': 'red',
            'name': 'Armement',
            'img': '{{ asset('img/icons/arsenal.png') }}',
            'quantity': 0
        },
        'food': {
            'price': 1,
            'color': 'green',
            'name': 'Nourriture',
            'img': '{{ asset('img/icons/food.png') }}',
            'quantity': 0
        },
        'alcohol': {
            'price': 1,
            'color': 'green',
            'name': 'Alcool',
            'img': '{{ asset('img/icons/alcohol.png') }}',
            'quantity': 0
        },
        'wood': {
            'price': 50,
            'color': 'brown',
            'name': 'Bois',
            'img': '{{ asset('img/icons/wood.png') }}',
            'quantity': 0
        },
        'copper': {
            'price': 50,
            'color': 'brown',
            'name': 'Cuir',
            'img': '{{ asset('img/icons/copper.png') }}',
            'quantity': 0
        },
        'gemstone': {
            'price': 200,
            'color': 'orange',
            'name': 'Pierre Précieuse',
            'img': '{{ asset('img/icons/gemstone.png') }}',
            'quantity': 0
        },
        'jewellery': {
            'price': 200,
            'color': 'orange',
            'name': 'Bijoux',
            'img': '{{ asset('img/icons/jewellery.png') }}',
            'quantity': 0
        },
        'stuff': {
            'price': 10,
            'color': 'orange',
            'name': 'Etoffe',
            'img': '{{ asset('img/icons/stuff.png') }}',
            'quantity': 0
        },
        'fur': {
            'price': 10,
            'color': 'orange',
            'name': 'Fourrure',
            'img': '{{ asset('img/icons/fur.png') }}',
            'quantity': 0
        },
        'manuscript': {
            'price': 10,
            'color': 'orange',
            'name': 'Manuscrit',
            'img': '{{ asset('img/icons/manuscript.png') }}',
            'quantity': 0
        },
        'spice': {
            'price': 10,
            'color': 'orange',
            'name': 'Epice',
            'img': '{{ asset('img/icons/spice.png') }}',
            'quantity': 0
        },
    };

    let rate = {{ trade.rate }};
    rate = parseFloat(rate / 100);

    let calculatePrice = () => {
        let current_price = 0;
        $.each(items, function(index) {
            current_price += Math.round(items[index]['price'] * items[index]['quantity'] * rate);
        });
        return current_price;
    };

    function init() {
        emptyValues();
        $("#buyer-choices").html('');
        $("#seller-choices").html('');
        total = 0;
        sell = false;
        buy = false;
    }

    function emptyValues() {
        $.each(items, function(index) {
            items[index]['quantity'] = 0;
        });
    }

    // Suppression d'un élément
    $.each(items, function(index, value) {

        $("body").on('click', "#" + index + "-remove-seller", function () {
            items[index]['quantity'] = 0;
            total = calculatePrice();

            $("#" + index + "-div").remove();
            items[index]['quantity'] = 0;
            $("#total-buyer").html(total);
            $("#additional-buyer").html(Math.round(total / 10 * rate));

            if (total == 0) {
                $("#buyer-choices").html('');
                buy = false;
            }
        });
    });

    $.each(items, function(index, value) {

        $("body").on('click', "#" + index + "-remove-buyer", function () {
            total = parseInt(total) - Math.round(
                parseInt($("#" + index + "-number").text()) * parseInt(items[index]['price']) * rate
            );
            $("#" + index + "-div").remove();
            items[index]['quantity'] = 0;
            $("#total-seller").html(total);
            $("#additional-seller").html(Math.round(total / 10));

            if (total == 0) {
                $("#seller-choices").html('');
                sell = false;
            }
        });
    });

    // Vente d'un item
    $( "#buy-add" ).click(function() {
        let quantity = $("#buy-quantity").val();
        if (quantity > 0) {
            sell = true;
            if (buy) {
                emptyValues();
                $("#seller-choices").html('');
                $("#buyer-choices").html('');
                total = 0;
                buy = false;
            }
            let object = $("#buy-object").val();
            items[object]['quantity'] = parseInt(items[object]['quantity']) + parseInt(quantity);

            total = calculatePrice();

            $("#seller-choices").html("" +
                "<img src='{{ asset('img/icons/coin.png') }}' alt='gold' class='logo'> <span id='total-seller'>" + total + "</span> <b>Pièces d'or</b><br>");

            // Si on n'a pas encore ajouté cette ressource
            if (items[object]['quantity'] == quantity) {
                $("#buyer-choices").append("<div class='mb-1' id='"+ object +"-div'>" +
                    "<img src='" + items[object]['img'] + "' alt='resource' class='logo'> <span id='" + object + "-number'>" + quantity + "</span> <b class='" + items[object]['color'] + "-text'>" + items[object]['name'] + "</b>" +
                    "<img src='{{ asset('img/icons/cross.png') }}' alt='delete' class='cross float-right' id='"+ object +"-remove-buyer'><br></div>"
                );
            }
            // Si on a déjà ajouté, on modifie juste la valeur
            else {
                $("#" + object + "-number").html(items[object]['quantity']);
            }
            $("#buy-quantity").val(0);
        }
    });

    // Achat d'un item
    $( "#sell-add" ).click(function() {
        var quantity = $("#sell-quantity").val();
        if (quantity > 0) {
            buy = true;
            if (sell) {
                emptyValues();
                $("#buyer-choices").html('');
                $("#seller-choices").html('');
                total = 0;
                sell = false;
            }
            let object = $("#sell-object").val();
            items[object]['quantity'] = parseInt(items[object]['quantity']) + parseInt(quantity);
            total = calculatePrice();

            $("#buyer-choices").html("" +
                "<img src='{{ asset('img/icons/coin.png') }}' alt='gold' class='logo'> <span id='total-buyer'>" + total + "</span> <b>Pièces d'or</b><br>" +
                "<img src='{{ asset('img/icons/coin.png') }}' alt='gold' class='logo'> +<span id='additional-buyer'>" + Math.round(total * rate / 10) + "</span> <b class='orange-text'>Taxe Commerciale</b>"
            );

            // Si on n'a pas encore ajouté cette ressource
            if (items[object]['quantity'] == quantity) {
                $("#seller-choices").append("<div class='mb-1' id='"+ object +"-div'>" +
                    "<img src='" + items[object]['img'] + "' alt='resource' class='logo'> <span id='" + object + "-number'>" + quantity + "</span> <b class='" + items[object]['color'] + "-text'>" + items[object]['name'] + "</b>" +
                    "<img src='{{ asset('img/icons/cross.png') }}' alt='delete' class='cross float-right' id='"+ object +"-remove-seller'><br></div>"
                );
            }
            // Si on a déjà ajouté, on modifie juste la valeur
            else {
                $("#" + object + "-number").html(items[object]['quantity']);
            }
            $("#sell-quantity").val(0);
        }
    });

    // Validation
    $("#validate-trade").click(function() {
        if (document.body.style.cursor != 'wait') {
            document.body.style.cursor = 'wait';
            $.ajax({
                url: "{{ path('app_trade_validate') }}",
                type: "POST",
                data: {
                    sell: sell,
                    buy: buy,
                    items: items
                },
                dataType: "html"
            }).always(function () {
                $(location).attr('href', '{{ path('app_trade') }}');
            });
        }
    });
</script>